.connect-popup {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 0.3s ease;
}
.popup-section {
  min-height: 50vh;
  background-color: #13171ed5;
  width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    border-radius: 50%;
    border: 1px solid #adcaf2;
  }
  h3 {
    text-align: center;
  }
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  form {
    width: 90%;
    flex-grow: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input,
    button {
      border: none;
      border-bottom: 1px solid #444479;
      background: none;
      color: #adcaf2;
      outline: none;
      padding: 0.4rem;
      transition: all 0.3s ease;
      &:focus {
        border-bottom-color: #291f85;
        background-color: #adcaf23f;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    button {
      border: 2px solid transparent;
      color: transparent;
      background-image: linear-gradient(to right, #ff9966, #ff5e62);
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 1.2rem;
      margin: 0.3rem;
      border-radius: 6px;
      overflow: hidden;
      cursor: pointer;
      align-self: flex-end;
      transition: none;
      &:focus {
        border: 2px solid #ff5e62;
      }
    }
    a {
      color: #adcaf2;
      transition: all 0.3s ease;
      &:hover {
        color: #291f85;
      }
    }
  }
}
.login-form,
.logout-form,
.add-song-form,
.alert-message {
  display: none;
}
.logout-form,
.alert-message {
  min-height: 25vh;
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  form {
    flex-direction: row;
    justify-content: center;
    button {
      align-self: center;
    }
  }
}
.add-song-form {
  div:first-child {
    input {
      border: none;
      flex-grow: 0;
      flex-shrink: 1;
      width: 60%;
    }
  }
}
