.library-song {
  width: 100%;
  min-height: 20%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.3s ease;

  cursor: pointer;
  img {
    width: 30%;
    margin-right: 0.8rem;
  }
  h4,
  h3 {
    font-weight: 400;
  }
  h3 {
    color: transparent;
    background-image: linear-gradient(to right, #f8a57c, #f06d6f);
    -webkit-background-clip: text;
  }
  h4 {
    font-size: 0.7rem;
  }
  &:hover {
    background-color: #231d5a;
  }
  & > * {
    pointer-events: none;
  }
}
.selected {
  background-color: #120f2e;
}
