.song-info {
  min-height: 58vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 50%;
    border-radius: 50%;
  }
  .playing {
    animation: playRotate 6s infinite forwards linear;
  }
  h2 {
    color: transparent;
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 0.2rem;
  }
  h2,
  h3 {
    font-weight: 400;
    text-align: center;
  }
  h3 {
    font-size: 0.8rem;
  }
}

@keyframes playRotate {
  to {
    transform: rotate(360deg);
    transition: all 0.3s ease;
  }
}
